<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Celestial Study</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1><%= time %></h1>
    <p><%= message %></p>

    <!-- [ ] Add a way to customise time to choose the hourly soundtrack -->

    <% if (soundtrack) { %>
    <script>
      const audio = new Audio("<%=soundtrack%>");
      function playMusic() {
        audio.loop = true;
        audio.play();
        console.log("Playing music...");
      }
      function pauseMusic() {
        audio.pause();
        console.log("Music paused...");
      }
    </script>
    <button onclick="playMusic()">Play music</button>
    <button onclick="pauseMusic()">Pause music</button>
    <% } %>
  </body>
</html>
